* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #e6e7e7; }

.auth-page {
  background: #fff;
  height: 100%;
  overflow: auto; }

.logo {
  width: 270px;
  height: 40px;
  display: inline-block;
  margin-left: -3px;
  margin-top: 7px; }

.logo-small {
  width: 140px;
  height: 30px;
  display: inline-block;
  margin-left: -3px;
  margin-top: 7px; }

.navbar__button-icon {
  padding-top: 6px; }

body {
  color: #333;
  font-family: 'RobotoDraft', 'Roboto', 'Open Sans', "Segoe UI", Candara, "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400; }

a,
dl,
dd,
dt,
input {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; }

a {
  color: #00bcd6;
  font-weight: 500;
  text-decoration: none; }

p {
  font-size: 14px;
  line-height: 14px; }

h1 {
  font-size: 34px;
  line-height: 52px; }

h2 {
  font-size: 28px;
  line-height: 38px; }

h3 {
  font-size: 21px;
  line-height: 30px; }

.container {
  margin: 0 auto;
  max-width: 920px; }

.container--small {
  max-width: 320px; }

.container--space {
  margin: 24 auto; }

.container--nav-bar {
  height: 100%;
  position: relative;
  text-align: center; }

/* Message Boxes */
.message {
  border-radius: 4px;
  padding: 15px; }

.message--info {
  background-color: #fff;
  color: #00529b; }

.message--success {
  background-color: #eff2bf;
  color: #4f8a10; }

.message--warning {
  background-color: #feefb3;
  color: #9f6000; }

.message--error {
  background-color: #ffbaba;
  color: #d8000c; }

.page-header {
  background-color: #38c4de;
  color: #fff;
  padding: 10px; }

.page-header__title {
  font-size: 32px;
  line-height: 42px;
  padding-top: 10px; }

.page-header__subtitle {
  font-size: 24px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.84); }

.fab-outer-container {
  bottom: 24px;
  position: fixed;
  width: 100%; }

.fab-inner-container {
  margin: 0 auto;
  max-width: 920px;
  position: relative; }

.fab {
  bottom: 0;
  position: absolute;
  right: 24px; }

.dialog__actions {
  text-align: right;
  margin: 20px 0 -20px; }

.dialog__body {
  margin-top: -20px; }

.card {
  margin-bottom: 24px;
  padding: 24px;
  position: relative; }

.card--small {
  max-width: 304px; }

.card--wall {
  cursor: pointer;
  text-align: center; }
  .card--wall:hover {
    background-color: #eee !important; }
    .card--wall:hover .p {
      color: black; }

.card--disabled {
  background-color: rgba(255, 255, 255, 0.4) !important;
  cursor: default; }

.card__text--button {
  color: #ff3b80;
  font-size: 18px; }

.card__text--unit {
  color: #aa3b80;
  font-size: 18px;
  margin: 10px; }

.card--temp {
  background-color: #f05a24 !important;
  color: #fff !important;
  text-align: center; }

.card--blue {
  background-color: #29aae1 !important;
  color: #fff !important;
  text-align: center; }

.card__text--value {
  font-size: 60px;
  font-weight: 300;
  line-height: 84px;
  color: black; }

.card__text--label {
  color: black;
  font-size: 15px;
  font-weight: 200;
  line-height: 12px;
  margin: 5px; }


.gauge-container .gauge .gauge-arrow {
  color: #d8000c; }

footer.version {
  text-align: center;
  margin: 25px 0; }

.logo-container {
  margin: 15px auto;
  left: 54%;
  text-align: center; }
  .logo-container h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px; }
  .logo-container h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #CBCBCB;
    margin-top: 0px; }
  .logo-container img {
    width: 250px;
    text-align: center; }

/*# sourceMappingURL=style.css.map*/