.card {
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
}

.card--small {
  max-width: 304px;
}

.card--wall {
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: #AA3F00 !important;
  }
}

.card--wall:hover .card__text--button {
  color: #fff;
  font-size: 25px;
}

.card__text--button {
  color: #AA3F00;
  font-size: 25px;
}

.card--wall:hover .card__text--unit {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}

.card__text--unit {
  color: #AA3F00;
  font-size: 20px;
  margin: 10px;
}

.card--disabled {
  background-color: rgba(255, 255, 255, 0.4) !important;
  cursor: default;
}


.card--temp {
  background-color: #f05a24 !important;
  color: #fff !important;
  text-align: center;
}

.card--blue {
  background-color: #fff !important;
  color: #fff !important;
  text-align: center;
}

.card__text--value {
  font-size: 60px;
  font-weight: 300;
  line-height: 84px;
  color: black;
}

.card__text--label {
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 18px;
  margin: 10px;
}

.gauge-container{
  .gauge{
    .gauge-arrow{
      color: #d8000c;
    }
  }

}

